*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Josefin Sans', sans-serif;
}

.main-container{
    background-image: url(assets/bg-1.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position: relative;
}

.main-container::before{
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

header{
    background-color: #c4c4c42c;
    color: #fff;
    padding: 0.5em 0;
    position: relative;
    clear: both;
    height: 60px;
}

.container{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: .28em 1.5em;
}

.container h1{
    margin-top: 5px;
}

.menu-container h1{
    font-size: 30px;
    float: left;
    width: 110px;
}

.site-nav{
    top: 100%;
    right: 0;
    position: absolute;
    background-color:#696969;
    z-index: 1000;
    clip-path: circle(0px at top right);
    transition: clip-path ease-in-out 700ms;
}

.site-nav-open{
    clip-path: circle(150% at top right);
}

.site-nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.site-nav li{
    border-bottom: 1px solid #fff;
}

.site-nav li:last-child{
    border-bottom: 0;
}

.site-nav a{
    color: #fff;
    font-weight: bold;
    display: block;
    padding: 1.5em 2em;
    text-decoration: none;
    text-transform: uppercase;
}

.site-nav a:hover, .site-nav a:focus{
    background-color: #000000;
}

[class^="fas fa"]{
    display: inline-block;
    font-size: 1.5em;
    margin-right: 1em;
    width: 1.1em;
    text-align: right;
    color: rgba(255, 255, 255, 0.603);
}

.menu-toogle{
    padding: 1em;
    position: absolute;
    top: .8em;
    right: 1em;
}

.menu-open .hamburger{
    transform: rotate(45deg);
}

.menu-open .hamburger::before{
    opacity: 0;
}

.menu-open .hamburger::after{
    transform: translateY(-3px) rotate(-90deg);
}

.hamburger, 
.hamburger::before, 
.hamburger::after{
    content: "";
    display: block;
    background: #fff;
    height: 3px;
    width: 1.75em;
    border-radius: 3px;
    transition: all ease-in-out 500ms;
}

.hamburger::before{
    transform: translateY(-6px);
}

.hamburger::after{
    transform: translateY(3px);
}

/* contenido */

.mark-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 120px);
}

.mark-container img{
    display: inline-block;
    width: 250px;
    margin: 20px auto;
    position: relative;
}

.slogan {
    color: #fff;
    font-weight: 300;
    margin-bottom: 2em;
    position: relative;
    padding: 1em;
}

.mark-container a{
    text-decoration: none;
}

.btn-cta{
    max-width: 200px;
    font-size: 1.3rem;
    padding: 1em 1.5em;
    color: #fff;
    font-weight: bold;
    border-radius: 30px;
    position: relative;
    background-color: #54976e;
}

.btn-cta:hover{
    padding: 1em 1.5em;
    color: #54976e;
    background-color: #fff;
}

@media (min-width: 700px){
    .mark-container img{
        width: 300px;
    }

    .slogan{
        font-size: 2.5rem;
        padding: 1em;
        margin-bottom: 0.5em;
    }
}

@media (min-width: 800px){
    
    header{
        display: flex;
        justify-content: center;
        height: 70px;
        background-color: rgba(0,0,0,0);
    }

    .container{
        padding: 0 1em;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu-toogle{
        display: none;
    }

    .menu-container h1{
        display: none;
    }

    .site-nav{
        top: 0;
        height: auto;
        position: relative;
        background: transparent;
        float: right;
        clip-path: initial;
        font-size: 1.1em;
    }

    .site-nav li{
        display: inline-block;
        border: none;
    }

    .site-nav a{
        padding: 0.5em 1em 0.3em;
        margin-right: 1.5em;
        border: 2px solid #fff;
        position: relative;
    }

    .site-nav a::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 0;
        background-color: rgba(255, 255, 255, 0.3);
        transition: all .5s ease;
    }
    
    .site-nav a:hover::before{
        height: 100%;
    }

    .site-nav i{
        display: none;
    }

    .site-nav .contacto{
        margin-right: 0;
    }

    .site-nav a:hover,
    .site-nav a:focus{
        background: transparent;
    }

    .mark-container{
        display: flex;
        flex-direction: column;
        height: calc(100vh - 70px);
        margin: 0 0 2em 0;
        margin-right: auto;
        margin-left: auto;
        align-items: center;
        justify-content: center;
    }

    .mark-container img{
        width: 300px;
    }

    .slogan{
        font-size: 3rem;
        padding: 1em;
        margin-bottom: 1em;
    }

    
    .btn-cta{
        width: 200px;
        font-size: 1.3rem;
        padding: 1em 1.5em;
        color: #fff;
        font-weight: bold;
        border-radius: 30px;
        position: relative;
        background-color: #54976e;
    }

    .btn-cta:hover{
        padding: 1em 1.5em;
        color: #54976e;
        background-color: #fff;
    }


    .btn-cta{
        margin: 0;
    }

    .imgs-container{
        display: flex;
        flex-direction: column;
        width: 40%;
        justify-content: space-evenly;
    }

    .imgs-container img{
        width: 90%;
        max-width: 500px;
    }
}

@media (min-width: 1200px){
    
    .site-nav{
        font-size: 1.5em;
    }

    .site-nav a{
        margin-right: 2em;
    }
}