*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
    background-image: url(../assets/bg-1.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    position: relative;
}

body::before{
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

header{
    background-color: #c4c4c42c;
    color: #fff;
    padding: 0.5em 0;
    position: relative;
    clear: both;
    height: 60px;
}

.container{
    width: 100%;
    height: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: .28em 1.5em;
    font-family: 'Josefin Sans', sans-serif;
}

.menu-container h1{
    font-size: 30px;
    float: left;
    width: 110px;
    margin-top: 5px;
}

.site-nav{
    top: 100%;
    right: 0;
    position: absolute;
    background-color:#696969;
    z-index: 1000;
    clip-path: circle(0px at top right);
    transition: clip-path ease-in-out 700ms;
}

.site-nav-open{
    clip-path: circle(150% at top right);
}

.site-nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.site-nav li{
    border-bottom: 1px solid #fff;
}

.site-nav li:last-child{
    border-bottom: 0;
}

.site-nav a{
    color: #fff;
    font-weight: bold;
    display: block;
    padding: 1.5em 2em;
    text-decoration: none;
    text-transform: uppercase;
}

.site-nav a:hover, .site-nav a:focus{
    background-color: #000000;
}

[class^="fas fa"]{
    display: inline-block;
    font-size: 1.5em;
    margin-right: 1em;
    width: 1.1em;
    text-align: right;
    color: rgba(255, 255, 255, 0.603);
}

.menu-toogle{
    padding: 1em;
    position: absolute;
    top: .8em;
    right: 1em;
}

.menu-open .hamburger{
    transform: rotate(45deg);
}

.menu-open .hamburger::before{
    opacity: 0;
}

.menu-open .hamburger::after{
    transform: translateY(-3px) rotate(-90deg);
}

.hamburger, 
.hamburger::before, 
.hamburger::after{
    content: "";
    display: block;
    background: #fff;
    height: 3px;
    width: 1.75em;
    border-radius: 3px;
    transition: all ease-in-out 500ms;
}

.hamburger::before{
    transform: translateY(-6px);
}

.hamburger::after{
    transform: translateY(3px);
}

/* Contenido */

.form-container{
    padding: 30px 50px;
    color: #fff;
    line-height: 35px;
    position: relative;
    border-radius: 1.5em
}

.form-container label{
    display: block;
}

.form-container h2{ 
    margin-bottom: 10px;
    font-size: 30px;
}

.form-container input, textarea{
    color: #fff;
    border-radius: 50px;
    border: 0; 
    font-size: 1em;
    padding: 0.7em 0.7em;
    width: 100%;
    background-color: rgba(196, 196, 196, .25);
}

textarea{
    border-radius: 20px;
    resize: none;
    height: 100px;
    font-size: 1.2em;
    line-height: 25px;
}

.form-container input:last-child{
    width: 120px;
    background-image: linear-gradient(90deg, #614385, #516395);
    cursor: pointer;
    padding: 0.5em 1em;
}

.form-container input:last-child:hover{
    background: #fff;
    color: #B06161;
}

.ilustrations-container{
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
    justify-content: center;
}

.ilustrations-container > .ilustracion{
    /* position: absolute; */
    z-index: 10000;
    width: 80%;
    height: 100%;
}

.ilustrations-container > .wave{
    position: absolute;
    width: 100%;
    bottom: 0;
}

.ilustrations-container .wave1{
    display: none;
}

@media (min-width:600px){

    form{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 5px;
    }

    .apellidos{
        grid-column: 2/3;
        grid-row: 1/2;
    }

    #nombre{
        grid-column: 1/2;
    }

    #email{
        grid-column: 1/-1;
    }

    #mensaje{
        grid-column: 1/-1;
        height: 150px;
        margin-bottom: 1.2em;
    }

    .ilustrations-container > .wave{
        bottom: 0;
    }
}



@media (min-width: 800px){
    header{
        display: flex;
        justify-content: center;
        height: 70px;
        background-color: rgba(0,0,0,0);
    }

    .container{
        padding: 0 1em;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu-toogle{
        display: none;
    }

    .menu-container h1{
        display: none;
    }

    .site-nav{
        top: 0;
        height: auto;
        position: relative;
        background: transparent;
        float: right;
        clip-path: initial;
        font-size: 1.1em;
    }

    .site-nav li{
        display: inline-block;
        border: none;
    }

    .site-nav a{
        padding: 0.5em 1em 0.3em;
        margin-right: 1.5em;
        border: 2px solid #fff;
        position: relative;
    }

    .site-nav a::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 0;
        background-color: rgba(255, 255, 255, 0.3);
        transition: all .5s ease;
    }
    
    .site-nav a:hover::before{
        height: 100%;
    }

    .site-nav i{
        display: none;
    }

    .site-nav .contacto{
        margin-right: 0;
    }

    .site-nav a:hover,
    .site-nav a:focus{
        background: transparent;
    }
}

@media (min-width: 1100px){

    main{
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
    }

    .form-container{
        float: right;
        width: 50%;
        margin-top: auto;
        margin-bottom: auto;
        padding: 30px 80px 30px 50px;
    }

    .form-container h2{
        font-size: 2em;
    }


    .form-container label{
        font-size: 1.2em;
    }

    .form-container input:last-child{
        padding: 0.8em 1.2em;
    }

    .ilustrations-container{
        float: left;
        width: 50%;
        height: calc(100vh - 70px);
        position: relative;
    }

    .ilustrations-container > .wave{
        display: none;
    }   

    .ilustrations-container .wave1{
        display: inline-block;
        position: absolute;
        width: 90%;
        height: calc(100vh - 70px);
        left: 0;
    }

}

@media (min-width: 1200px){
    
    .site-nav{
        font-size: 1.5em;
    }
    
    .site-nav a{
        margin-right: 2em;
    }
}

@media (min-width: 1600px){
    .form-container{
        padding: 30px 150px 30px 110px;
    }
}